body {
    margin: 0;
    font-family: 'Nunito';
}

.container {
padding: 3em;
display: -ms-grid;
display: grid;
grid-gap: 2em;
-ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.container .quote {
padding: 0;
border-radius: .3em;
-webkit-box-shadow: 0 52px 77px rgba(0, 0, 0, 0.28);
        box-shadow: 0 52px 77px rgba(0, 0, 0, 0.28);
}
/* 
h4 { 
    font-family: 'Open Sans'; 
    margin: 0;
} */

/* body{
    margin: 0;
    padding: 0;
} */


/* body.modal-open {
    overflow: auto;
} */

/* body.scrollable {
    overflow-y: auto;
} */

.modal-footer {
	display: flex;
	justify-content: flex-start;
}
/* .btn {
    position: absolute;
    right: 10px;
} */
/* .container{
    margin-left: auto;
    margin-right: auto;
} */



